html,
body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
}
.show-page{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

/* Icon like */

.fa-thumbs-up{
    cursor: pointer;
}
.like-block-div .card-text{
    border: none;
    background: none;
    padding: 5px;
}
.like-block-div .card-text:hover{
    background: #dce4ea;
    border-radius: 10px;
}
.card{
    transition: .2s;
}
.card:hover{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
